/* @import url(http://fonts.googleapis.com/css?family=Raleway:500|Archivo+Narrow); */
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.group:before,
.group:before,
.group:after { content: ""; display: table;}
.group:after { clear: both;}
.group { zoom: 1;}

body {
	font:20px/1 'Archivo Narrow', sans-serif;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	height: 100%;
	color:#565656;
}

p {
	margin-top: 5px;
	line-height:1.4em;
	text-align: justify;
}

a {
	text-decoration:none;
	color:#2bcfa2;
}

#wrapper {
	margin:0 auto;
	width: 601px;
	height: 100%;
}

#greencircle {
	margin: 10px auto 10px;
	width: 200px;
	height: 200px;
	background-color: #2bcfa2;
	color: #fff;
	border-radius: 100px;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 500;
	padding: 72px 0px 0px 24px;
	line-height: 1.2em;
}

#intro {
	margin-bottom: 10px;
}

#thumbs {
	overflow: hidden;
	margin-bottom: 5px;
}

#thumbs li {
	list-style: none;
	float: left;
	margin-bottom: -1px;
}

#thumbs img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}

#thumbs img:hover {
	-webkit-filter: grayscale(1%);
	-moz-filter: grayscale(1%);
	-o-filter: grayscale(1%);
	-ms-filter: grayscale(1%);
	filter: grayscale(1%);
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s; /* Safari */
}

#contact {
	font:30px/1 'bebas_neueregular', sans-serif;
	padding-bottom: 10px;
}

#contact li {
	list-style: none;
}

#copyright {
	text-align: right;
	font-size: 16px;
	background: rgba(0,0,0,0.8);
	color: #eee;
	padding: 10px;
}

.r1px {
	margin-right: 1px;
}

.headline {
	font:75px/1 'bebas_neueregular', sans-serif;
	line-height: 1em;
	color:#777;
}

.headlinesmall {
	font:30px/1 'bebas_neueregular', sans-serif;
	line-height: 1em;
	color:#eee;
	margin: 0 0 10px;
	background: rgba(0,0,0,0.8);
	width: intrinsic;
	padding: 5px;
}

.blackbox {
	background: rgba(0,0,0,0.6);
	width: intrinsic;
	padding: 0 7px 0 7px;
	color: #eee;
}

